<div class="con tainer mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                    <i class="fa-solid fa-user-plus"></i>
                    Edit Contact Page
                
            </h1>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, maiores sapiente. Molestias asperiores
                corporis quo, totam fuga, quis quasi exercitationem quisquam enim deserunt neque, tempora obcaecati
                omnis iste nostrum corrupti. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi repellat a
                beatae corrupti odio sequi, accusantium sed id aperiam quae. Explicabo, fugit! Nulla cum dicta, possimus
                reiciendis quo quod non.
            </p>
        </div>
    </div>
    <!-- <pre>
        {{contact|json}}
    </pre> -->
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="border p-3">
                 <div class="mb-2">
                    <input name="Cname" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <input name="photo" [(ngModel)]="contact.photo"  placeholder="Photo url" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <input name="email" [(ngModel)]="contact.email" placeholder="email id" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <input name="mobile" [(ngModel)]="contact.mobile" placeholder="mobile number" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <input name="company" [(ngModel)]="contact.company" placeholder="company name" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <input name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                 </div>

                 <div class="mb-2">
                    <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                        <option value="" selected hidden disabled>Select a group</option>
                        <option value="group.id" *ngFor="let group of groups" >{{group.name}}</option>

                    </select>
                 </div>

                 <div class="mb-2">
                    <input value="Update" (click)="updateContact()" type="button" class="btn btn-success">
                 <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                </div>
                </form>
            </div>
            <div class="col-md-4">
                <img [src]="contact.photo" alt="" class="contact_image">

            </div>
        </div>
    </div>
</div>